<div class="dark-header">
  <div class="row pl-5 pr-5">
    <div class="col-sm-12">
      <h1>
        Updating <%= @information_request.rfi_number %>
      </h1>
      <%=
        link_to 'Back',
        :back
      %>
    </div>
  </div>
</div>
<%= render 'form' %>
