<div class="main">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <%= current_user.full_name %>
          </h5>
          <h6 class="card-sub-title text-muted">
            <%= current_user.email %>
          </h6>
          <p class="card-text">
            Job Title: Project Engineer
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
