<div class="item-specific" onclick="showInput('<%= item %>', '<%= header %>')">
  <% if record[attribute.to_sym].present? %>
    <%= record[attribute.to_sym] %>
  <% else %>
    Click to add
  <% end %>
</div>
