<div class="col-sm-6">
  <div class="card mb-5">
    <div class="card-body">
      <h5 class="card-title"><%= link_to project.project_number, select_project_path(:project => project), method: :post, id: "project_#{project.id}" %></h5>
      <h6 class="card-subtitle text-muted"><%= project.project_name %></h6>
      <p class='card-text'>Your role: <%= project.user == current_user ? 'Project Manager' : 'Team Member' %></p>
    </div>
  </div>
</div>
