<% if signed_in? %>
  <div class="dark-header">
    <div class="row pl-5 pr-5">
      <div class="col-sm-12">
        <h1>
          Select a project
        </h1>
      </div>
    </div>
  </div>
  <div class="row px-5 neg-mar">
    <% current_user.all_projects.each do |project| %>
      <%= render partial: 'user_projects', locals: {project: project} %>
    <% end %>
  </div>
  <div class="row px-5">
    <%= link_to 'New Project', new_project_path, class: 'btn btn-outline-primary', id: 'create_project' %>
  </div>

<% else %>
  <%= render 'sessions/form' %>
<% end %>
