<tr>
  <td class="align-middle text-center">
    <%=
      link_to handvalve.tag,
        handvalve_path(handvalve),
        id: "show_handvalve_#{handvalve.id}"
      %>
  </td>
  <td class="align-middle text-center">
    PID number
  </td>
  <% handvalve.attributes.each do |name, value| %>
    <% if handvalve.metrics_attributes.include?(name) %>
      <td class="align-middle text-center">
        <div id="<%= name %>_status_handvalve_<%= handvalve.id %>">
          <%=
            render partial: 'shared/metric_status',
              locals: {
              record: handvalve,
              attribute: name,
              value: value
            }
          %>
        </div>
      </td>
    <% end %>
  <% end %>
</tr>
