<tr>
  <td>
    <%= team_member.role %>
  <td>
    <% if team_member.user %>
      <%= team_member.user.full_name %>
    <% else %>
      Not yet assigned
    <% end %>
  </td>
  <td>
  <%= link_to 'Remove', team_member_path(team_member), method: :delete, id: "remove_team_member_#{team_member.id}" %>
  </td>
</tr>

