<div class="section-heading">
  Instruments
</div>
<div class="section-sub-heading">
  Click on an instrument tag to view and update
</div>
<div class="table-function-row">
  <div class="table-function-item" onclick="showPopup('#filter-pop-up')">
    <i class="fa fa-filter"></i>
    Filter
  </div>
  <div class="table-function-item">
    <i class="fas fa-download"></i>
    <%=
      link_to 'Download as Excel',
      project_instruments_excel_path(format: :xlsx),
      class: 'table-link'
    %>
  </div>
  <div class="table-function-item">
    <i class="fas fa-upload"></i>
    <%=
      link_to 'Upload from Excel',
      new_project_instrument_import_path,
      class: 'table-link'
    %>
  </div>
</div>
<div class="filter-pop-up hide" id="filter-pop-up">
  <div class="filter-row">
    <div class="filter-select">
      Select...
    </div>
    <div class="filter-params">
      param
    </div>
  </div>
  <div class="add-new-filter">
    <div class="new-filter-icon">
      <i class="fas fa-plus"></i>
    </div>
    <div class="new-filter-text">
      Add new filter
    </div>
  </div>
</div>
<div class="wide-section">
  <%=
    render partial: 'shared/bom_table',
    locals: {
      model: Instrument,
      collection: @instruments
    }
  %>
</div>

  <%= will_paginate(
    @instruments,
    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer
  ) %>
