<h1><%= @project.project_number %></h1>
<h5><%= @project.project_name %></h5>
<h3>Instrument Metrics</h3>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col" class="text-center">Tag Number</th>
        <th scope="col" class="text-center">PID</th>
        <th scope="col" class="text-center">Datasheet Submitted</th>
        <th scope="col" class="text-center">Datasheet Approved</th>
        <th scope="col" class="text-center">RFQ Sent</th>
        <th scope="col" class="text-center">PO Placed</th>
        <th scope="col" class="text-center">Item Received</th>
        <th scope="col" class="text-center">Item Released</th>
        <th scope="col" class="text-center">Mounted</th>
        <th scope="col" class="text-center">Plumbed</th>
        <th scope="col" class="text-center">Cable Pulled</th>
        <th scope="col" class="text-center">Terminated at Source</th>
        <th scope="col" class="text-center">Terminated at Dest</th>
        <th scope="col" class="text-center">Continuity Tested</th>
        <th scope="col" class="text-center">Grounded</th>
        <th scope="col" class="text-center">Engineering Check</th>
      </tr>
    </thead>
    <tbody>
      <% @instruments.each do |inst| %>
        <%= render partial: "instruments_metrics", locals: {instrument: inst} %>
      <% end %>
    </tbody>
  </table>
</div>
