<div class="main">
  <h3>
    Documents List
  </h3>
  <%= link_to "Add New Document", new_document_path(:project => @project), class: 'mb-5 btn btn-outline-primary', id: 'new_document_link' %>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" class="text-center"></th>
          <th scope="col" class="text-center">Complete?</th>
          <th scope="col" class="text-center">Document Name</th>
          <th scope="col" class="text-center">Project Phase</th>
          <th scope="col" class="text-center">Document Timing</th>
          <th scope="col" class="text-center">File Location</th>
          <th scope="col" class="text-center">Document Type</th>
          <th scope="col" class="text-center">Prepared By</th>
          <th scope="col" class="text-center">Delivered To</th>
          <th scope="col" class="text-center">Revision Name</th>
          <th scope="col" class="text-center">Revision Type</th>
          <th scope="col" class="text-center">Revision Frequency</th>
        </tr>
      </thead>
      <tbody>
        <% current_project.documents.each do |doc| %>
          <%= render partial: 'document', locals: {document: doc} %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

