<div class="main">
  <h3>
    Instrument Metrics
  </h3>
  <p class="text-muted"><%= link_to 'View Instrument List', project_instruments_path %></p>
  <div class="table-responsive">
    <table class="mt-3 table table-hover">
      <thead>
        <tr>
          <th scope="col" class="border-top-0"></th>
          <th scope="col" class="border-top-0 align-middle text-center">Tag</th>
          <th scope="col" class="border-top-0 align-middle text-center">PID</th>
          <th scope="col" class="border-top-0 align-middle text-center">Datasheet Submitted</th>
          <th scope="col" class="border-top-0 align-middle text-center">Datasheet Approved</th>
          <th scope="col" class="border-top-0 align-middle text-center">RFQ Sent</th>
          <th scope="col" class="border-top-0 align-middle text-center">PO Placed</th>
          <th scope="col" class="border-top-0 align-middle text-center">Received</th>
          <th scope="col" class="border-top-0 align-middle text-center">Released</th>
          <th scope="col" class="border-top-0 align-middle text-center">Mounted</th>
          <th scope="col" class="border-top-0 align-middle text-center">Plumbed</th>
          <th scope="col" class="border-top-0 align-middle text-center">Cable Pulled</th>
          <th scope="col" class="border-top-0 align-middle text-center">Term Source</th>
          <th scope="col" class="border-top-0 align-middle text-center">Term Dest</th>
          <th scope="col" class="border-top-0 align-middle text-center">Continuity</th>
          <th scope="col" class="border-top-0 align-middle text-center">Grounded</th>
          <th scope="col" class="border-top-0 align-middle text-center">Engineering</th>
        </tr>
      </thead>
      <tbody>
        <% @instruments.each do |inst| %>
          <%= render partial: "instruments_metrics", locals: {instrument: inst} %>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate(@instruments, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
  </div>
</div>
