<div class="section-heading">
  Client Documents
</div>
<div class="section-sub-heading">
  Click on a document to view and update
</div>
<div class="wide-section">
  <div class="wide-table">
    <div class="table-heading-row">
      <div class="table-heading-cell">
        <div class="table-heading-icon">
          <i class="fas fa-hashtag"></i>
        </div>
        <div class="table-heading-text">
          Document Number
        </div>
      </div>
      <div class="table-heading-cell">
        <div class="table-heading-icon">
          <i class="fas fa-align-justify"></i>
        </div>
        <div class="table-heading-text">
          Document Name
        </div>
      </div>
      <div class="table-heading-cell">
        <div class="table-heading-icon">
          <i class="fas fa-list-ol"></i>
        </div>
        <div class="table-heading-text">
          Document Revision
        </div>
      </div>
    </div>
    <% @client_documents.each do |doc| %>
      <div class="table-data-row">
        <div class="table-data-cell">
          <div class="table-data-text">
            <%=
              link_to doc.document_number,
              client_document_path(doc),
              class: 'table-link',
              id: "show_client_document_#{doc.id}"
            %>
          </div>
        </div>
        <div class="table-data-cell">
          <div class="table-data-text">
            <%= doc.document_name %>
          </div>
        </div>
        <div class="table-data-cell">
          <div class="table-data-text">
            <%= doc.document_revision %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="table-last-row">
      <div class="table-last-icon">
        <i class="fas fa-plus"></i>
      </div>
      <%=
        link_to 'Add a document',
        new_client_document_path,
        class: "table-last-text",
        id: 'new_client_document_link'
      %>
    </div>
  </div>
</div>
