<div class="main">
  <h3>
    Equipment Metrics<br />
  </h3>
  <p class="text-muted">
    <%= link_to 'View Equipment List', project_equipment_path %>
  </p>
  <div class="table-responsive table-header-column mb-5">
    <table class="mt-3 table table-hover table-fixed-tags">
      <thead>
        <tr>
          <th scope="col" class="text-center align-middle">Tag</th>
          <th scope="col" class="text-center align-middle">PID</th>
          <th scope="col" class="text-center align-middle">Datasheet Complete</th>
          <th scope="col" class="text-center align-middle">Datasheet Approved</th>
          <th scope="col" class="text-center align-middle">RFQ Sent</th>
          <th scope="col" class="text-center align-middle">PO Placed</th>
          <th scope="col" class="text-center align-middle">Dwg Received</th>
          <th scope="col" class="text-center align-middle">Dwg Reviewed</th>
          <th scope="col" class="text-center align-middle">Client Review</th>
          <th scope="col" class="text-center align-middle">Dwg Approved</th>
          <th scope="col" class="text-center align-middle">Item Received</th>
          <th scope="col" class="text-center align-middle">Item Released</th>
          <th scope="col" class="text-center align-middle">Item Installed</th>
          <th scope="col" class="text-center align-middle">Item Grounded</th>
          <th scope="col" class="text-center align-middle">Engineering Check</th>
        </tr>
      </thead>
      <tbody>
        <% @equipment.each do |equip| %>
          <%= render partial: 'equipment_metrics', locals: {equipment: equip} %>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= will_paginate(@equipment, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
</div>

