<div class="main">
  <h4><%= @project.project_number %></h4>
  <h6 class="mt-3 mb-4 text-muted"><%= @project.project_name %></h6>
  <h5>
    Documents List
  </h5>
  <%= link_to "Add New Document", new_document_path(:project => @project), class: 'mb-5 btn btn-outline-primary', id: 'new_document_link' %>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" class="text-center"></th>
          <th scope="col" class="text-center">Document Name</th>
          <th scope="col" class="text-center">Project Phase</th>
          <th scope="col" class="text-center">Documebnt Timing</th>
          <th scope="col" class="text-center">File Location</th>
          <th scope="col" class="text-center">Document Type</th>
          <th scope="col" class="text-center">Revision Name</th>
          <th scope="col" class="text-center">Revision Type</th>
          <th scope="col" class="text-center">Revision Frequency</th>
        </tr>
      </thead>
      <tbody>
        <% @project.documents.each do |doc| %>
          <%= render partial: 'document', locals: {document: doc} %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

