<div class="main">
  <h3>
    Equipment List<br />
  </h3>
    <p class="text-muted"><%= link_to 'View Metrics', project_equipment_metrics_path %></p>
  <p><%= link_to 'Add Equipment', new_equipment_path(:project => @project), id: 'new_equipment_link', class: 'btn btn-outline-primary btn-block' %>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" class="text-center"></th>
          <th scope="col" class="text-center">Tag</th>
          <th scope="col" class="text-center">Description</th>
          <th scope="col" class="text-center">Type</th>
          <th scope="col" class="text-center">Scope</th>
          <th scope="col" class="text-center">Supplier</th>
          <th scope="col" class="text-center">Manufacturer</th>
          <th scope="col" class="text-center">Model</th>
          <th scope="col" class="text-center">Zeton PO</th>
          <th scope="col" class="text-center">Tracking Number</th>
          <th scope="col" class="text-center">Receiving Info</th>
        </tr>
      </thead>
      <tbody>
        <% @equipment.each do |equip| %>
          <%= render partial: 'equipment', locals: {equipment: equip} %>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate(@equipment, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
  </div>
</div>

