<h1><%= @project.project_number %></h1>
<h5><%= @project.project_name %></h5>
<hr>
<h3>Project Metrics</h3>
<p>Will have all the project metrics</p>
<h3>Outstanding RFIs</h3>
<p>Will list outstanding RFIs</p>
<h3>Project Team </h3>
<p>Will list all team members</p>
