body {
  background-color: #ededed;
  font-weight: lighter;
}

.navbar {
  margin-bottom: 20px;
  background-color: #001942;
  height: 60px;
}

.main-body {
  margin-top: 80px;
}

.main {
  background-color: white;
  border-radius: 5px;
  padding: 50px;
  margin-bottom: 100px;
  margin-left: 5%;
  margin-right: 5%;
}

.sign-in {
  background-color: white;
  padding: 30px;
  width: 50%;
  border-radius: 5px;
  height: 400px;
  margin-top: 50px;
  margin-left: 25%;
}

.sign-in-title {
  text-align: center;
  margin-bottom: 60px;
}

.sign-in-button {
  margin-top: 25px;
}

.other-links {
  margin-top: 25px;
}

.metrics-button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

.metrics-button:hover {
  cursor: pointer;
}


.table-responsive {
  overflow-y: scroll;
  height: 500px;
}

.table-fixed-tags td:first-child, th:first-child {
  position: sticky;
  left: 0;
  z-index: 0;
  background-color: white;
}

.table-fixed-tags thead tr th {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}

.table-fixed-tags thead tr th:first-child {
  z-index: 2;
}

.dropdown {
  display: inline-block;
}

.card-box-shadow {
  box-shadow: 0 10px 6px -6px #777;
}

.sidenav {
  top: 0;
  bottom:0;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 60px;
  right: 0;
  background-color: #001942;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: 0.5s;
  color: #FFF;
}

.sidenav-open {
  width: 250px;
}

