body {
  background-color: #D3D3D3;
}

.navbar {
  margin-bottom: 50px;
}

.main {
  background-color: white;
  border-radius: 5px;
  padding: 50px;
  margin-bottom: 100px;
}

.sign-in {
  background-color: white;
  padding: 30px;
  width: 50%;
  border-radius: 5px;
  height: 400px;
  margin-top: 50px;
  margin-left: 25%;
}

.sign-in-title {
  text-align: center;
  margin-bottom: 60px;
}

.sign-in-button {
  margin-top: 25px;
}

.other-links {
  margin-top: 25px;
}

