<div class="dark-header">
  <div class="row pl-5 pr-5">
    <div class="col-sm-12">
      <h1>
        New Action Item
      </h1>
      <h5>
        <%=
          link_to 'Back',
          :back
        %>
      </h5>
    </div>
  </div>
</div>
<%= render 'form' %>
