<div class="section-heading">
  <%= @action_item.ai_number %>
</div>
<div id="action_item_status_form">
  <%=
    render partial: 'action_items_status_form_large',
    locals: {
      action_item: @action_item
    }
  %>
</div>
<div class="item-sub-heading">
  <div class="item-sub-heading-icon">
    <i class="fas fa-list-ul"></i>
  </div>
  <div class="item-sub-heading-text">
    Properties
  </div>
</div>
<div class="section-sub-heading">
  Click below to edit, or
  <%=
    link_to 'edit all fields',
      edit_action_item_path(@action_item),
      class: 'table-link',
      id: "edit_action_item_#{@action_item.id}"
  %>
</div>
<div class="item-properties" id="action-item-properties">
  <%=
    render partial: 'properties',
    locals: {
      action_item: @action_item,
      priorities: @priorities,
      work_areas: @work_areas,
      instruments: @instruments,
      equipment: @equipment,
      handvalves: @handvalves

    }
  %>
</div>
