<h1><%= @instrument.project.project_number %></h1>
<h3><%= @instrument.tag %></h3>
<hr>
<div class="col-sm-4">
  <h5>Metrics</h5>
  <div class="row">
    <div class="col-sm-6">
      Datasheet Submitted
    </div>
    <div class="col-sm-6">
      complete
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      Datasheet Submitted
    </div>
    <div class="col-sm-6">
      complete
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      Datasheet Approved
    </div>
    <div class="col-sm-6">
      complete
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      RFQ Sent
    </div>
    <div class="col-sm-6">
      complete
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      PO Placed
    </div>
    <div class="col-sm-6">
      complete
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      Item Received
    </div>
    <div class="col-sm-6">
      complete
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      Item Released
    </div>
    <div class="col-sm-6">
      complete
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      Mounted
    </div>
    <div class="col-sm-6">
      complete
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      Plumbed
    </div>
    <div class="col-sm-6">
      complete
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      Cable Pulled
    </div>
    <div class="col-sm-6">
      complete
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      Terminated at Source
    </div>
    <div class="col-sm-6">
      complete
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      Terminated at Dest
    </div>
    <div class="col-sm-6">
      complete
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      Continuity Tested
    </div>
    <div class="col-sm-6">
      complete
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      Grounded by Electrical
    </div>
    <div class="col-sm-6">
      complete
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      Checked by Eng
    </div>
    <div class="col-sm-6">
      complete
    </div>
  </div>
</div>
<div class="col-sm-8">
  <div class="col-sm-6">
    Type: <%= @instrument.type_code %>
  </div>
  <div class="col-sm-6">
    Type: <%= @instrument.loop %>
  </div>
